*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lighter-blue: #90e0ef;
    --light-blue: #00b4d8;
    --dark-blue: #0077b6;
    --darker-blue: #03045e;
}

body{
    height: 100vh;
    background-color: grey;
}

.container{
    height: 100%;
}

.container section{
    height: 25%;
}

.d-none{
    opacity: 0;;
}

/* GENERAL */

.float-left{
    float: left;
}

.snack-left{
    width: 20%;
    height: 100%;
    position: relative;
}

.snack-left i{
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.snack-left i:hover{
    font-size: 4.5rem;
}

.snack-right{
    width: 80%;
    height: 100%;
}



/* SNACK 1 */
#snack1 .snack-left{
    background-color: var(--lighter-blue);
}

#snack1 .snack-right{
    background-color: var(--lighter-blue);
}

#snack1 .snack-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snack1 .snack-right input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin: 20px 0;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 2rem;
    outline: none;
    color: white;
}

#snack1 .snack-right button{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
}

#snack1 .snack-right .result1{
    display: inline-block;
}

#snack1 .snack-right .result1 i{
    margin: 0 5px;
}

.snack-description{
    width: 100%;
    padding: 15px;
    text-align: center;
    color: palevioletred;
}
/* SNACK 2 */
#snack2 .snack-left{
    background-color: var(--light-blue);
}

#snack2 .snack-right{
    background-color: var(--light-blue);
    position: relative;
}

#snack2 .snack-right img{
    position: absolute;
    left: 50px;
    bottom: 0;
    height: 75%;
}

#snack2 .snack-right button{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    left: 300px;
}

#snack2 .snack-right .guest-list{
    border: 1px solid white;
    width: 65%;
    float: right;
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
}

#snack2 .snack-right .guest-list .guest{
    width: 18%;
    border-bottom: 1px solid white;
    height: 18%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

/* SNACK 3 */
#snack3 .snack-left{
    background-color: var(--dark-blue);
}

#snack3 .snack-right{
    background-color: var(--dark-blue);
}

#snack3 .snack-right input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin: 20px 0;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 2rem;
    outline: none;
    color: white;
    margin: 40px
}

#snack3 .snack-right button{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
}

#snack3 .snack-right .result3{
    display: inline-block;
    color: white;
    margin: 0 50px;
    font-size: 1.2rem;
    vertical-align: middle;
}

#snack3 .snack-right .result3 div{
    font-size: 1rem;
}

/* SNACK 4 */
#snack4 .snack-left{
    background-color: var(--darker-blue);
    color: white;
}

#snack4 .snack-right{
    background-color: var(--darker-blue);
    color: white;
}

#snack4 .array1{
    width: 100px;
    display: inline-block;
}

#snack4 .array2{
    width: 100px;
    display: inline-block;
}

#snack4 .results{
    float: right;
    width: 70%;
    height: 60%;
    padding: 0 15px;
}

#snack4 .results > *{
    width: 100%;
    padding: 2px;
    border-bottom: 1px solid white;
    margin: 10px 0;
}

#snack4 .results > * > *{
    margin-left: 10px;
}

#snack4 .snack-right input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin: 20px 0;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
    outline: none;
    margin: 40px
}

#snack4 .snack-right button{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-left: 60px;
}